h3 {
    text-align: center;
    background-color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}

#drop-down {
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 20px;
}

select {
    width: 250px;
}