{% extends 'base.html' %}
{% block title %}Find-A-Potty{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Find-A-Potty</h1>
    <small id="subheader">Find the closest FREE bathroom to you</small>
</div>
<br>
<div class="container">
    <form id="search-form">
        <div class="row" id="search-bar">
            <div id="drop-down">
                Zip Codes:
                <select name="zip-code" id="zip-code">
                    {% for zip in zip_codes %}
                    <option value="{{zip}}">{{zip}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div id='map' style='width: 900px; height: 675px;' class="col"></div>
        <div id="instructions" class="col-4"></div>
    </div>
</div>
{% endblock %}