{% extends 'base.html' %}
{% block title %}Find-A-Potty{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Find-A-Potty</h1>
    <small id="subheader">Find the closest FREE bathroom to you</small>
</div>
<br>
<div class="container">
    <div>
        <form method="get">
            <input type="search" name="search" id="search" placeholder="Search">
            <button type="button" id="search-button" class="btn btn-primary btn-sm"><svg
                    xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
        </form>
    </div>
    <div id='map' style='width: 900px; height: 550px;'></div>
</div>
{% endblock %}