{% extends 'base.html' %}
{% block title %}New Bathroom{% endblock %}
{% block content %}
<h1>New Bathroom</h1>
<div class="container">
    <form id="bathroom-form" method="post">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field (class_="form-control")}}
        </p>
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
        {% endfor %}
        <button class="btn btn-info">Add Bathroom</button>
    </form>
</div>
{% endblock %}